
#moves{
	color: red;
	float: left;
	font-weight: bold;
	background-color: white;
	font-family: 'Creepster', cursive;
	padding:33px;	
	font-size:28;
	border-style:double;
	 border-color:black;
 border-width:3px;
 border-radius:15px;

}
#level{
	color: black;
	float: left;
	font-weight: bold;
	font
	background-color: white;
	font-family: 'Creepster', cursive;
	padding: 33px;
	font-size:28;
	border-style:double;
 border-color:red;
 border-width:3px;
 border-radius:15px;
	
}

#start-over{
	color: white;
	background-color: red;
	float: right;
	padding: 30px;
	margin-right:51px;
	border-radius: 25px;
	
	width:120px;
	textalign:center;
	font-family: 'Creepster', cursive;
	font-size:26;
}

body {
	background-color: white;
	font-family: serif;
}

h1 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
	font-family:sans-serif
}

.image {
	float: left;
	width: 24.00%;

	padding: .0%;
	
overflow:hidden;
		display:block;
		
border-style: dotted;
		 border-width: 1px 1px 1px 1px;

}


.landscape img {
	width: 100%;
	

	
;

	
	position:relative;


}


.extra-stuff{
	font-size: 15px;
	float: left;
	width: 96.4%;
	text-align: center;
	background-color: blue;
	color: white;
	padding:10% 0;
	margin-top:0;
	margin-left:0%;
}

