body {
	background-color: grey;
	font-family: serif;
}

h1 {
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
	font-family:sans-serif
}

.image {
	float: left;
	width: 25.00%;

	padding: .0%;
	
overflow:hidden;
		display:block;
		
border-style: dotted;
		 border-width: 1px 1px 1px 1px;

}


.portrait img {
	width: 100%;
	padding:.1%;
	max height:470px;

	
;

	
	position:relative;


}


.extra-stuff{
	font-size: 15px;
	float: left;
	width: 96.4%;
	text-align: center;
	background-color: blue;
	color: white;
	padding:10% 0;
	margin-top:0;
	margin-left:0%;
}



